---
layout: page-layout.njk
title: 'About the 2017 Event'
meta_title: 'Vermont Code Camp 9 :: 2017'
meta_description: The 9th annual Vermont Code Camp in Burlington, VT – bringing together technology community members, students and professionals from around Vermont and beyond.
---


<article id="attend" class="anchor">
    <header>
        <img src="/media/attendee-registration-480x320.jpg" width="480" height="320" alt="Attendee Registration" />
    </header>
    <article>

        <div class="meta">
            <abbr title="Saturday, September 16, 2017, 8:30am - 5:30pm" class="date-time">
                <span class="day">Saturday</span> 
                <span class="month">Sept</span> 
                <span class="date">16</span> 
                <span class="time">8:30AM-5:30PM</span>
            </abbr> 
            <abbr title="Center for Communication and Creative Media, Champlain College, 375 Maple Street, Burlington, VT" class="location">
                <span class="building">Center for Communication and Creative Media</span> 
                <span class="place">Champlain College</span>
                <span class="address">375 Maple Street</span> 
                <span class="city">Burlington, VT</span>
            </abbr>
        </div>


        <h1>{{ title }}</h1>
        <p class="description"><strong class="summary">Vermont Code Camp</strong> is a full day event that brings together technology community members, students and professionals from around Vermont and beyond. <a href="/schedule" class="highlight">View the 2017 schedule,</a> with sessions on a variety of software topics including programming, databases, web and more.</p>
        

        <p><strong><a href="https://www.meetup.com/VTCode/events/240096766/">Event Page on Meetup</a></strong></p>
        <p><small><a href="/conduct">Code of Conduct</a> | <a href="/diversity">Diversity Statement</a></small></p>
    </article>

    <article class="sponsors">
        <h1>Premier Sponsors</h1>
        <ul class="sponsors premier-level">
            <li><a href="http://www.champlain.edu/"><span class="logo champlain-college">Champlain College</span></a></li>
            <li><a href="https://jobs.coxautoinc.com/"><span class="logo cox-automotive">Cox Automotive</span></a></li>
            <li><a href="https://www.burlingtontelecom.com/"><span class="logo burlington-telecom">Burlington Telecom</span></a></li>
            <li><a href="https://public.vtinfo.com/"><span class="logo vermont-information-processing">Vermont Information Processing</span></a></li>
            <li class="name-only"><a href="http://www.ibm.com/">IBM</a></li>
            <li><a href="https://www.uvmhealth.org/" class="logo the-university-of-vermont-medical-center">The University of Vermont Medical Center</a></li>
            <li><a href="http://mywebgrocer.com/" class="logo mywebgrocer">MyWebGrocer</a></li>
        </ul>
        <h1>Platinum Sponsor</h1>
        <ul class="sponsors">
            <li><a href="https://www.galenhealthcare.com/"><span class="logo galen-healthcare-solutions">Galen Healthcare Solutions</span></a></li>
        </ul>
        <h1>Gold Sponsors</h1>
        <ul class="sponsors">
            <li><a href="https://www.competitive.com/" class="logo competitive-computing">Competitive Computing</a></li>
            <li><a href="https://www.logicsupply.com/" class="logo logic-supply">Logic Supply</a></li>
            <li><a href="https://burlingtoncode.org/" class="logo burlington-code">Burlington Code</a></li>
            <li class="static-logo-wrapper"><a href="https://docs.microsoft.com/en-us/"><img src="/media/sponsors/MSFT_logo_rgb_C-Gray.png" alt="Microsoft" class="static-logo microsoft"></a></li>
        </ul>
        <h1>Bronze Sponsor</h1>
        <ul class="sponsors">
            <li><a href="https://www.tylertech.com/"><span class="logo tyler-technologies">Tyler Technologies</span></a></li>
            <li class="name-only">Jonathan &amp; Kristin Winer</li>
        </ul>
        <h1>Swag, Giveaways &amp; More</h1>
        <ul class="sponsors">
            <li><a href="http://www.codemag.com/" class="logo code-magazine">CODE Magazine</a></li>
            <li><a href="https://www.esri.com/" class="logo esri">Esri</a></li>
        </ul>
        <h1>Community Partners</h1>
        <ul class="sponsors">
            <li><a href="http://www.btvignite.com/"><span class="logo btv-ignite">BTV Ignite</span></a></li>
            <li><a href="https://www.girldevelopit.com/"><span class="logo girl-develop-it">Girl Develop It | Don't be shy. Develop it.</span></a></li>
        </ul>
        <p class="legal-statement">IBM and the IBM logo are trademarks of International Business Machines Corp., registered in many jurisdictions worldwide.</p>
    </article>
</article>
